

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Nave styles */
nav{
  display: flex;
  justify-content: space-between;
  margin: 24px 160px;
}
.nave-title{
  font-weight: bold;
  font-size: 32px;
}
.btn-primary{
  background-color: white;
  font-weight: lighter;
  color: #006A50;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  border-color: #006a50;

}
nav ul li{
  list-style: none;
}
nav{
  display: flex;
}
button{
  background-color:#006A50;
  font-size: 18px;
  border-color:none;
  padding: 17px 34px;
  font-weight: lighter;
  border-radius: 8px;
}
/* banner styles */
.banner{
  display:flex;
  justify-content: space-between;
  margin: 20px 160px 0 160px;
}
.banner-container{
  width: 1280px;
  height: 560px;
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 80px 100px;
}

.banner-img{
  width: 474.03px;
  height: 400px;
}
.banner-greetings{
  font-size: 24px;
  font-weight: bold;
}

.default{
  color: #0e0e0e50;
  
}
.default-2{
  color: #0e0e0e83;
}
.text-center{
  text-align: center;
}
/* future section styles */
.future-container{
  display: flex;
  gap: 24px;
}
.future{
  
}
.future-1{
  background-color: #548ff580;
  width: 414px;
  height: 325px;
  padding: 32px;
  border-radius: 16px;
}
.future-2{
  background-color: #C6E4D6;
  width: 414px;
  height: 325px;
  padding: 32px;
  border-radius: 16px;
}
.future-3{
  background-color: #F7EBCF;
  width: 414px;
  height: 325px;
  padding: 32px;
  border-radius: 16px;
}
.future-button{
  padding: 11px 20px;
  width: 122px;
  height: 41px;
  border-radius:8px;
}
.button-1{
  background-color: #5490F5;
  border-color: 1px solid #5490F5;
}
.button-2{
  background-color: #09A15C;
  border-color: 1px solid #09A15C;
}
.button-3{
  background-color: #FFC239;
  border-color:1px solid #FFC239;
}